* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;

}

header {
    background: #50b3a2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    top: 0;
    width: 100%;
    position: sticky;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 15px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
nav a:hover {
    background: #555;
}
nav a.active {
    background: #007bff;
}
main {
    flex-grow: 1;
    max-width: 960px;
    margin: 2rem auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main h1, main h2, main h3{
    margin-bottom: 20px;
    color: #333;
}
main p {
    margin-bottom: 15px;
}
main ul {
    list-style: disc inside;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
    height: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
}
#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#contact-form textarea {
    resize: vertical;
}
#contact-form button {
    padding: 12px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#contact-form button:hover {
    background: #0056b3;
} 